.nav {
  height: 210%;
  width: 163%px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #f7f7f7;
}

.nav ul {
  list-style-type: none;
}

.header {
  background-color: #d1d1d1;
}

.green {
  background-color: #ace3b9;
}

.blue {
  background-color: #ace3db;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px; 
}